<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { computed, inject, onMounted, ref, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')

const authStore = useAuthStore()
const now = new Date()
const currentDate = ref()
const currentTime = ref()
const time = new Date().toLocaleTimeString()
const getUserAvatar = () => {
  const currentUser = authStore.getCurrentUser()
  if (currentUser && currentUser.image) {
    return `http://localhost:3000/images/users/${currentUser.image}`
  }

  return 'http://localhost:3000/images/users/noimage.jpg'
}
</script>

<template>
  <v-app-bar color="#412F26" density="compact" height="70">
    <template v-slot:prepend>
      <v-avatar size="47" @click.stop="rail = !rail">
        <v-img src="./img/logo/logo_white_bold.png"></v-img>
      </v-avatar>
    </template>

    <v-app-bar-title>
      <!-- <v-icon>mdi-coffee-outline</v-icon> -->
      Aqueous Coffee
    </v-app-bar-title>

    <template v-slot:append>
      <!-- <v-list-item :title="authStore.getCurrentUser()?.fullName" nav>
        <v-avatar>
          <v-img :src="getUserAvatarUrl()" height="170" cover></v-img>
        </v-avatar>
      </v-list-item> -->
      <v-list-item :prepend-avatar="getUserAvatar()" :title="authStore.getCurrentUser()?.name" nav>
        <!-- <v-avatar>
          <v-img :src="getUserAvatar()" height="47" width="47" cover></v-img>
        </v-avatar> -->
      </v-list-item>
    </template>
  </v-app-bar>
</template>
