<script setup lang="ts">
import { type Product, getImageUrl } from '@/types/Product'
import { ref } from 'vue';
const popupVisible = ref(false)
const showPopup = function () {
  popupVisible.value = true
}
const hidePopup = function () {
  popupVisible.value = false
}


const props = defineProps<{
  product: Product
}>()
const emit = defineEmits<{
  selectedProduct: [Product]
}>()
const selected = function () {
  console.log('ProductCard ' + props.product)
  emit('selectedProduct', props.product)
}
</script>

<template>
  <v-sheet width="170" height="170" elevation="2" rounded @mouseenter="showPopup" @mouseleave="hidePopup" @click="selected">
    <v-img :src="getImageUrl(product)" height="170" cover></v-img>
    <div class="product-info">
      {{ product.name }} {{ product.price }} บาท
    </div>
  </v-sheet>
</template>

<style scoped>
/* เพิ่ม border ใน v-sheet */
.v-img,
.v-sheet {
  border-radius: 15%;
}

.product-info {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: 6px;
  color: #412f26;
}
</style>
