<script setup lang="ts">
import receipt from '@/services/receipt'
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import { ref } from 'vue'

const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
async function onClick() {
  await memberStore.searchMember(tel.value)
  const currentMember = memberStore.getCurrentMember() // เปลี่ยนเป็น getCurrentMember()
  if (!currentMember) {
    window.alert('Member not found!')
    tel.value = ''
  } else {
    receiptStore.receipt!.member = currentMember
    console.log(receiptStore.receipt?.member)
    receiptStore.calReceipt()
  }
}
</script>
<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="7">
        <v-text-field
          v-model="tel"
          density="compact"
          variant="solo"
          label="Search Member"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          @click:append-inner="onClick"
          @keyup.enter="onClick"
        ></v-text-field>
      </v-col>
      <v-row cols="6" class="pa-2 text-center">
        <v-col cols="8" class="pa-2 text-left">
          ชื่อ:
          {{ memberStore.getCurrentMember() ? memberStore.getCurrentMember()!.fristName : '' }}
        </v-col>
        <v-col cols="4" class="pa-2 text-right">
          แต้ม: {{ memberStore.getCurrentMember() ? memberStore.getCurrentMember()!.point : '' }}
        </v-col>
      </v-row>
    </v-row>
  </v-container>
</template>
