<script setup lang="ts">
import type { Receipt } from '@/types/Receipt'
import type { ReceiptItem } from '@/types/ReceiptItem'
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import { inject, computed } from 'vue'
import { usePromotionStore } from '@/stores/promotion'

const promotionStore = usePromotionStore()
const receiptStore = useReceiptStore()
const memberStore = useMemberStore()

const props = defineProps<{
  modelValue: boolean
  receipt: Receipt
  receiptItems: ReceiptItem[]
}>()
const emit = defineEmits<{
  'update:modelValue': [boolean]
  save: []
}>()
const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

function calculateItemAmount(item: any) {
  return item.unit * item.price
}
const changeAmount = inject('changeAmount')
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="auto">
    <template v-slot:activator="{ props }">
      <v-btn
        class="align-right"
        variant="plain"
        elevation="4"
        size="large"
        v-bind="props"
        rounded="xl"
        @click="console.log(receiptStore.selectPaymentOption)"
        >ใบเสร็จ</v-btn
      >
    </template>
    <v-card>
      <v-row class="d-flex align-center justify-center">
        <v-col
          ><v-img
            style="display: block; margin: auto"
            src="./img/logo/logo_name_black.png"
            alt="Logo"
            width="120px"
          ></v-img
        ></v-col>
      </v-row>

      <v-card-title class="text-h5"> RECEIPT </v-card-title>
      <v-card-text>**************************************</v-card-text>
      <!-- <v-card-text style="text-align: left">Receipt No. {{ receipt.id }}</v-card-text> -->
      <v-card-text style="text-align: left; padding-top: 0"
        >Date :
        {{ receipt.createdDate ? receipt.createdDate.toLocaleDateString() : 'N/A' }}</v-card-text
      >
      <v-card-text style="text-align: left; padding-top: 0">Cashier : {{ receipt.user?.name }}</v-card-text>
      <v-card-text style="text-align: left; padding-top: 0"
        >Branch : {{ receipt.user?.branch.name }}</v-card-text
      >
      <v-card-text style="text-align: left; padding-top: 0"
        >Member : {{ receipt.member?.fristName }}</v-card-text
      >
      <v-card-text style="border: 2">---------------------------------------------</v-card-text>
      <v-row style="padding-bottom: 0">
        <v-col> Item </v-col>
        <v-col> QTY </v-col>
        <v-col> Amount </v-col>
      </v-row>
      <v-row
        style="padding-bottom: 0"
        v-for="(item, index) in receiptStore.receiptItems"
        :key="index"
      >
        <v-col>{{ item.name }}</v-col>
        <v-col>{{ item.unit }}</v-col>
        <v-col>{{ calculateItemAmount(item) }}</v-col>
      </v-row>
      <!-- <ReceiptDetailTable :editable="false"></ReceiptDetailTable> -->
      <v-card-text style="border: 2">---------------------------------------------</v-card-text>
      <v-card-text style="text-align: left; padding-top: 0"
        >TOTAL : {{ receipt.totalPrice }} บาท</v-card-text
      >
      <!-- <v-card-text style="text-align: left; padding-top: 0"
        >TOTAL AMOUNT : {{ receiptStore.receipt!.totalPrice }} บาท</v-card-text
      > -->
      <v-card-text style="text-align: left; padding-top: 0"
        >PAYMENT TYPE : {{ receiptStore.selectPaymentOption }}</v-card-text
      >
      <v-card-text style="text-align: left; padding-top: 0"
        >CHANGE : {{ receipt.change }} บาท</v-card-text
      >

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          style="background-color: transparent"
          variant="text"
          @click="receiptStore.receiptDialog = false"
        >
          CANCLE
        </v-btn>
        <v-btn
          style="background-color: transparent"
          variant="text"
          @click="
            () => {
              ;(receiptStore.receiptDialog = false),
                // receiptStore.clear(),
                // memberStore.clear(),
                (memberStore.clearFrom()),
                (receiptStore.paymentTypeDialog = false),
                (receiptStore.QRpaymentDialog = false),
                console.log(receipt),
                console.log(receiptItems)
              emit('save')
            }
          "
        >
          SAVE
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.v-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-card {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: 'Athiti', sans-serif; */
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.v-btn {
  background-color: #ffcb5e;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
</style>
