<script setup lang="ts">
import { onMounted, ref } from 'vue'
import StockView from './StockView.vue'
import BalanceMaterial from '@/views/Stock/BalanceMaterial.vue'

const stockComp = ref(false)
const mainComp = ref(true)
const invoiceComp = ref(false)
const titleName = ref('Balance')


const navigate = (dest: string): void => {
  if (dest === 'Invoice') {
    stockComp.value = false
    mainComp.value = false
    invoiceComp.value = true
    titleName.value = 'Invoice'
  } else if (dest === 'Stock') {
    stockComp.value = true
    mainComp.value = false
    invoiceComp.value = false
    titleName.value = 'Stock'
  } else if (dest === 'Main') {
    stockComp.value = false
    mainComp.value = true
    invoiceComp.value = false
    titleName.value = 'Balance'
  }
}

const currentDate = ref()
const currentTime = ref()
const now = new Date()
const time = new Date().toLocaleTimeString()
const setupDateAndTime = () => {
  currentDate.value = `${now.getDate()}/${now.getMonth() + 1}/${now.getFullYear()}`
  currentTime.value = `${time}:${now.getMinutes()}`

  setInterval(() => {
    const newNow = new Date()
    currentDate.value = `${newNow.getDate()}/${newNow.getMonth() + 1}/${newNow.getFullYear()}`
    currentTime.value = `${newNow.toLocaleTimeString()}`
  }, 1000)
}
onMounted(() => {
  setupDateAndTime()
})
</script>

<template>
  <div>
    <v-sheet>
      <v-container fluid>

      </v-container>
    </v-sheet>
  </div>
  <v-toolbar flat color="#AB9283">
    <v-toolbar-title>{{ titleName }}</v-toolbar-title>
    <v-divider class="mx-4" inset vertical></v-divider>

    <v-spacer>
      <div>วันที่:{{ currentDate }} เวลา {{ currentTime }}</div>
    </v-spacer>
    <v-toolbar-items>
      <v-btn @click="navigate('Main')">Balance</v-btn>
      <v-btn @click="navigate('Stock')">Stock</v-btn>
      <v-btn @click="navigate('Invoice')">Invoice</v-btn>
    </v-toolbar-items>
  </v-toolbar>

  <div style="margin-top: 20px;">
    <BalanceMaterial v-if="mainComp"></BalanceMaterial>
    <StockView v-if="stockComp"></StockView>
  </div>
</template>

<style scoped>
.v-sheet {
  background-color: #fff5e8;
}

.v-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
  background-color: #ab9283;
}

.v-toolbar-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.v-table {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  background-color: #fff5e8;
}

.v-btn {
  border-radius: 30px;
  padding: 8px 16px;
  color: #ffcb5e;
}

.custom-header {
  background-color: #ffcb5e;
}
</style>
