<script setup lang="ts">

import { useCheckInOutStore } from '@/stores/checkInOut';
import { ref } from 'vue'
import { useDate } from 'vuetify'

const checkInOutStore = useCheckInOutStore()
const adapter = useDate()
const date = '2024-01-06'
console.log(adapter.parseISO(date))

let editedIndex = -1
let lastId = 4
let lastEmId = 4
function save() {
  if (editedIndex > -1) {
    Object.assign(
      checkInOutStore.checkInOut.value[editedIndex],
      checkInOutStore.editedCheckinout.value
    )
  } else {
    checkInOutStore.editedCheckinout.value.id = lastId++
    checkInOutStore.editedCheckinout.value.employeeId = lastEmId++
    checkInOutStore.checkInOut.value.push(checkInOutStore.editedCheckinout.value)
  }
  editedIndex = -1
  checkInOutStore.onClick()
  checkInOutStore.closeDialog()
}
</script>

<template>
  <v-dialog v-model="checkInOutStore.loginDialog.value" persistent width="960">
    <template v-slot:activator="{ props }">
      <v-btn color="primary" v-bind="props"> Login </v-btn>
    </template>

    <v-card>
      <v-card-title style="text-align: center; font-size: 24px" class="mb-0 mt-3">
        <strong>Check IN</strong>
      </v-card-title>

      <v-card-text>
        <v-form v-model="checkInOutStore.from.value" @submit.prevent="checkInOutStore.onSubmit">
          <v-container>
            <v-row>
              <v-col width="auto" cols="12" sm="12" md="6">
                <v-date-picker width="auto" height="470"></v-date-picker>
              </v-col>

              <v-col cols="12" sm="12" md="6">
                <v-row>
                  <v-text-field
                    v-model="checkInOutStore.editedCheckinout.value.email"
                    :readonly="checkInOutStore.loading.value"
                    :rules="[(v) => !!v || 'Field is required']"
                    class="mb-2"
                    clearable
                    label="Email"
                  >
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-text-field
                    v-model="checkInOutStore.editedCheckinout.value.password"
                    :readonly="checkInOutStore.loading.value"
                    :rules="[(v) => !!v || 'Field is required']"
                    clearable
                    label="Password"
                    placeholder="Enter your password"
                  >
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-combobox
                    v-model="checkInOutStore.editedCheckinout.value.status"
                    :items="['Present', 'Absent']"
                    label="Status"
                  >
                  </v-combobox>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>

      <v-card-actions class="mt-0">
        <v-spacer></v-spacer>
        <v-btn color="primary" variant="text" @click="checkInOutStore.save()"> Login </v-btn>
        <v-btn color="primary" variant="text" @click="checkInOutStore.closeDialog()"> Close </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
