<script setup lang="ts">
import { useCheckInOutStore } from '@/stores/checkInOut'
import type { CheckInOut } from '@/types/CheckInOut'
import { reactive } from 'vue'

const checkInOutStore = useCheckInOutStore()
const checkInoutStore = reactive({
  // ... โค้ดอื่น ๆ ที่มีอยู่
  selectedRows: [] as CheckInOut[] // เพิ่ม selectedRows เป็น array ของ CheckInOut

  // ... โค้ดอื่น ๆ ที่มีอยู่
})
const saveLogout = () => {
  if (checkInoutStore.selectedRows && checkInoutStore.selectedRows.length > 0) {
    checkInoutStore.selectedRows.forEach((selectedRow) => {
      // ให้ใช้ editedCheckinout.value.timeIn และ editedCheckinout.value.timeOut แทน checktimeIn และ checktimeOut
      selectedRow.timeOut = checkInOutStore.formatDateToTimeIn(new Date())
      selectedRow.totalHour = Math.floor(
        checkInOutStore.calculateTotalHours(selectedRow.timeIn, selectedRow.timeOut)
      )
    })

    // ทำการเปลี่ยนค่าใน comboBox เป็น 'Absent'
    checkInOutStore.editedCheckinout.value.status = 'Absent'
    console.log('TimeOut saved:', checkInOutStore.formatDateToTimeIn(new Date()))
    console.log(
      'tatal',
      checkInOutStore.calculateTotalHours(
        checkInoutStore.selectedRows[0].timeIn,
        checkInoutStore.selectedRows[0].timeOut
      )
    )
    checkInOutStore.closeDialog()
  }
}
</script>

<template>
  <!--ต้องมีเเค่email and password-->
  <v-dialog v-model="checkInOutStore.logoutDialog.value" persistent width="960">
    <template v-slot:activator="{ props }">
      <v-btn color="primary" v-bind="props"> Logout </v-btn>
    </template>

    <v-card>
      <v-card-title style="text-align: center; font-size: 24px" class="mb-0 mt-3">
        <strong>Check OUT</strong>
      </v-card-title>

      <v-card-text>
        <v-form v-model="checkInOutStore.from.value" @submit.prevent="checkInOutStore.onSubmit">
          <v-container>
            <v-row>
              <v-col width="auto" cols="12" sm="12" md="6">
                <v-date-picker width="auto" height="470"></v-date-picker>
              </v-col>

              <v-col cols="12" sm="12" md="6">
                <v-row>
                  <v-text-field
                    v-model="checkInOutStore.editedCheckinout.value.email"
                    :readonly="checkInOutStore.loading.value"
                    :rules="[(v) => !!v || 'Field is required']"
                    class="mb-2"
                    clearable
                    label="Email"
                  >
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-text-field
                    v-model="checkInOutStore.editedCheckinout.value.password"
                    :readonly="checkInOutStore.loading.value"
                    :rules="[(v) => !!v || 'Field is required']"
                    clearable
                    label="Password"
                    placeholder="Enter your password"
                  >
                  </v-text-field>
                </v-row>
                <v-row>
                  <v-combobox
                    v-model="checkInOutStore.editedCheckinout.value.status"
                    :items="['Present', 'Absent']"
                    label="Status"
                  >
                  </v-combobox>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>

      <v-card-actions class="mt-0">
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          variant="text"
          @click="
            saveLogout()
            checkInOutStore.closeDialog()
          "
        >
          Logout
        </v-btn>
        <v-btn color="primary" variant="text" @click="checkInOutStore.closeDialog()"> Close </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
