<script setup lang="ts">
import { computed, onMounted, reactive, ref } from 'vue'

import { useSalaryStore } from '@/stores/salary'
import { useBranchStore } from '@/stores/branch';

const salaryStore = useSalaryStore()
const branchStore = useBranchStore()
const salarys = computed(() => salaryStore.salarys.value)
const PaySalarys = computed(() => salarys.value.filter((item) => item.status === 'pay'))

const selectedBranchId = ref(null)

const filteredSalarys = computed(() => {
  console.log(selectedBranchId.value)
  if (!selectedBranchId.value) {
    console.log('1')
    console.log(salaryStore.salarys.value.filter((item) => item.status === 'not pay'))
    return salaryStore.salarys.value.filter((item) => item.status === 'not pay')
  } else {
    console.log('2')
    console.log('selectedBranchId.value: ', selectedBranchId.value)
    console.log(salaryStore.salarys.value.filter((item) => item.status === 'not pay'))
    return salaryStore.salarys.value.filter((item) => item.branch === selectedBranchId.value?.id && item.status === 'not pay')
  }
})

onMounted(async () => {
  await branchStore.getBranches()
  await salaryStore.getSalarys()
})
</script>

<template>
  <div>
    <v-sheet>
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="12">
            <v-card class="mx-auto">
              <!-- <v-card-title>Salary Management</v-card-title> -->
              <v-toolbar flat>
                <v-toolbar-title>History Payment</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-row>
                <!-- <v-col cols="12" md="6">
                  <v-select :items="branchStore.branches" item-title="name" item-value="id" return-object clearable
                    density="compact" placeholder="เลือกสาขา" prepend-inner-icon="mdi-awning-outline" variant="outlined"
                    filled rounded bg-color="#ffcb5e"></v-select>
                </v-col> -->

                <v-card-text style="max-height: 100px;">
                  <v-col cols="12" md="6">
                    <v-select v-model="selectedBranchId" :items="branchStore.branches" item-title="name" item-value="id"
                      return-object clearable density="compact" placeholder="เลือกสาขา"
                      prepend-inner-icon="mdi-awning-outline" variant="outlined" filled rounded
                      bg-color="#ffcb5e"></v-select>
                  </v-col>
                </v-card-text>
              </v-row>

              <v-table fixed-header height="530">
                <thead>
                  <tr>
                    <th>Id</th>
                    <!-- <th>Employee ID</th> -->
                    <th>ชื่อ-นามสกุลล</th>
                    <th>เดือน</th>
                    <th>จำนวนชั่วโมงรวม</th>
                    <th>ฐานเงินเดือน</th>
                    <th>จำนวนเงินรวม</th>
                    <th>วันที่จ่าย</th>
                    <th>สถานะ</th>
                    <th>ใบเสร็จ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in PaySalarys" :key="item.id">
                    <td>{{ item.id }}</td>
                    <!-- <td>{{ item.employeeId }}</td> -->
                    <td>{{ item.fullName }}</td>
                    <td>{{ item.month }}</td>
                    <td>{{ item.totalHour }}</td>
                    <td>{{ item.pricePerHour }}</td>
                    <td>{{ item.totalPay }}</td>
                    <td>{{ item.payDate }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                      <v-btn size="30px" prepend-icon="mdi-receipt-text-clock"
                        @click="salaryStore.SlipDialog.value = true">
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
  </div>
</template>

<style scoped>
.v-sheet {
  background-color: #fff5e8;
}

.v-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
  background-color: #ab9283;
}

.v-toolbar-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.v-table {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  background-color: #fff5e8;
}

.v-btn {
  background-color: #ffcb5e;
  border-radius: 100px;
}

.info {
  font-size: 14px;
}
</style>
