<script setup lang="ts">
import { useSalaryStore } from '@/stores/salary'

const salaryStore = useSalaryStore()

const date = new Date()
</script>

<template>
  <div>
    <v-dialog v-model="salaryStore.SlipDialog.value" persistent max-width="600">
      <v-card class="d-flex align-center justify-center">
        <v-img
          src="./img/logo/logo_name_black.png"
          alt="Logo"
          width="120px"
          class="text-center mt-3"
        ></v-img>

        <v-card-title style="text-align: center; font-size: 20px"
          ><strong>PAY SLIP</strong>
        </v-card-title>

        <v-card-text
          class="info"
          style="text-align: center; margin-top: 0; padding-top: 0; line-height: 1"
        >
          ************************************************************
        </v-card-text>
        <v-card-text
          style="
            text-align: center;
            margin-top: 0;
            margin-bottom: 2;
            padding-top: 0;
            line-height: 1;
          "
        >
          <small>Thank you for your work hard ♡</small>
        </v-card-text>
        <v-card-text>
          <v-row class="info">
            <v-col style="text-align: center">
              <v-row>
                <!-- <v-col>Employee ID : {{ salaryStore.selected.value.employeeId }}</v-col> -->
                <v-col>Payment ID : {{ salaryStore.selected.value.id }}</v-col>
              </v-row>
              <v-row>
                <v-col>Full Name : {{ salaryStore.selected.value.fullName }}</v-col>
              </v-row>
              <!-- <v-row>
                                        <v-col>Position : {{
                                            salaryStore.selected.value.roles.join(', ')
                                        }}</v-col>
                                    </v-row> -->
            </v-col>
          </v-row>

          <v-row class="info mt-4 mb-2">
            <v-col>
              <!-- <v-data-table-virtual style="background-color: white" :headers="slip_headers" :items="[
      {
        totalHour: salaryStore.selected.value.totalHour,
        priceHour: salaryStore.selected.value.priceHour,
        totalPay: salaryStore.calculateSalary()
      }
    ]">
              </v-data-table-virtual> -->
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-row>
                <v-col style="text-align: left" class="info">Pay Date : {{ date }}</v-col>
                <!-- <v-col style="text-align: right;" class="info">Payer Name : {{
                                            checkInOutStore.currentUser
                                        }}</v-col> -->
                <v-col style="text-align: right" class="info">Payer's Name : Zhang Hao</v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions class="justify-center mt-2 mb-2">
          <v-spacer></v-spacer>
          <v-btn
            style="background-color: white"
            elevation="4"
            variant="text"
            @click="salaryStore.SlipDialog.value = false"
          >
            Close
          </v-btn>
          <v-btn
            style="background-color: white"
            elevation="4"
            variant="text"
            @click="salaryStore.confirmPayment"
          >
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
