<script setup lang="ts">
import { useSalaryStore } from '@/stores/salary'

const salaryStore = useSalaryStore()
</script>

<template>
  <div>
    <!-- <v-container>
      <v-card style="background-color: #fff5e8">
        <v-card-title style="text-align: center; font-size: 24px" class="mb-5 mt-3">
          <strong>Payment</strong>
        </v-card-title>
        <v-card-text class="ml-3 mr-3 mt-3" style="background-color: #ab9283; border-radius: 15px">
          <v-row>
            <v-col>Date : {{ date }}</v-col>
            <v-col>Payer's Name : {{ checkInOutStore.currentUser }}</v-col>
            <v-col>Payer's Name : Zhang Hao</v-col>
          </v-row>

          <v-row>
            <v-col>Time : {{ time }}</v-col>
            <v-col>Position : {{ userStore.selected.value.roles.join(', ') }}</v-col>
          </v-row>
        </v-card-text>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-row>
                  <v-col>Full Name : {{ salaryStore.selected.value.fullName }}</v-col>
                </v-row>
                <v-row>
                  <v-col>Position : {{ salaryStore.selected.value.status }}</v-col>
                </v-row>
                <v-row>
                  <v-col>Work / Hour : {{ salaryStore.selected.value.totalHour }}</v-col>
                </v-row>
                <v-row>
                  <v-col>Wage / Hour : {{ salaryStore.selected.value.pricePerHour }}</v-col>
                </v-row>
                <v-row>
                  <v-col>Total Pay: {{ salaryStore.calculateSalary() }}</v-col>
                </v-row>
              </v-col>

              <v-col cols="12" sm="12" md="6" style="background-color: #ab9283; border-radius: 15px">
                  ใส่ตารางcheck IN OUT ของ User ที่เลือก
                  <v-data-table-virtual style="background-color: white" :headers="checkInOutStore.payment_headers"
                    :items="selectedUserCheckInOut"></v-data-table-virtual>
                </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn variant="text" @click="salaryStore.PaymentDialog.value = false"> Close </v-btn>
          <v-btn variant="text" class="mr-0 mb-0" @click="salaryStore.PaymentDialog.value = true">
            Payment
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container> -->

    <!-- <v-dialog v-model="salaryStore.dialog2.value" width="auto">
      <v-card>
        <v-card-title> Dialog 2 </v-card-title>
        <v-card-actions>
          <v-row>
            <v-col>
              <v-btn color="primary" variant="text" @click="salaryStore.dialog2.value = false">
                Close
              </v-btn>
            </v-col>
            <v-col>
              <v-btn color="primary" variant="text" @click="salaryStore.closeBothDialogs">
                print
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
  </div>
</template>
