<script setup lang="ts">
import { computed, onMounted, reactive, ref } from 'vue'

import { useSalaryStore } from '@/stores/salary'
import { useBranchStore } from '@/stores/branch';
import router from '@/router';
import type { VForm } from 'vuetify/components';

const branchStore = useBranchStore()
const salaryStore = useSalaryStore()
const refForm = ref<VForm | null>(null)
const salarys = computed(() => salaryStore.salarys.value)

const selectedBranchId = ref(null)

const filteredSalarys = computed(() => {
  console.log(selectedBranchId.value)
  if (!selectedBranchId.value) {
    console.log('1')
    console.log(salaryStore.salarys.value.filter((item) => item.status === 'not pay'))
    return salaryStore.salarys.value.filter((item) => item.status === 'not pay')
  } else {
    console.log('2')
    console.log('selectedBranchId.value: ', selectedBranchId.value)
    console.log(salaryStore.salarys.value.filter((item) => item.status === 'not pay'))
    return salaryStore.salarys.value.filter((item) => item.branch === selectedBranchId.value?.id && item.status === 'not pay')
  }
})

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await salaryStore.saveSalary()
  salaryStore.closeDialog()
  console.log(salaryStore.saveSalary())
}

onMounted(async () => {
  await branchStore.getBranches()
  await salaryStore.getSalarys()
})
</script>

<template>
  <div>
    <v-sheet>
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="12">
            <v-card class="mx-auto">
              <!-- <v-card-title>Salary Management</v-card-title> -->
              <v-toolbar flat>
                <v-toolbar-title>Salary Management</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>

                <v-dialog v-model="salaryStore.dialog.value" persistent width="1024">
                  <template v-slot:activator="{ props }">
                    <v-btn size="40px" v-bind="props" prepend-icon="mdi-plus-thick" class="mr-5">
                      <!-- New User -->
                    </v-btn>
                  </template>
                  <v-card style="background-color: #fff5e8">
                    <v-card-title>
                      <span class="text-h5">New Salary</span>
                    </v-card-title>
                    <v-card-text>
                      <v-form ref="refForm" v-model="salaryStore.form.value" @submit.prevent="salaryStore.onSubmit">
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="12" md="4">
                              <v-text-field v-model="salaryStore.editedSalary.value.fullName" variant="outlined"
                                :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                label="ชื่อ-นามสกุล"></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                              <v-text-field v-model="salaryStore.editedSalary.value.month" variant="outlined"
                                :rules="[(v) => !!v || 'Field is required']" clearable label="เดือน"
                                placeholder="เลือกเดือน" type="number" min="1" max="12"></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                              <v-combobox v-model="salaryStore.editedSalary.value.branch" :items="branchStore.branches"
                                item-title="name" item-value="id" label="สาขา" return-object
                                variant="outlined"></v-combobox>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-form>
                      <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn variant="text" @click="save"> Save </v-btn>
                      <v-btn variant="text" @click="salaryStore.closeDialog"> Close </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>

                <v-dialog v-model="salaryStore.dialogDelete.value" max-width="500px">
                  <v-card>
                    <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn variant="text" @click="salaryStore.closeDelete">Cancel</v-btn>
                      <v-btn variant="text" @click="salaryStore.deleteItemConfirm">OK</v-btn>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
              <v-row>

                <v-card-text style="max-height: 100px;">
                  <v-col cols="12" md="6">
                    <v-select v-model="selectedBranchId" :items="branchStore.branches" item-title="name" item-value="id"
                      return-object clearable density="compact" placeholder="เลือกสาขา"
                      prepend-inner-icon="mdi-awning-outline" variant="outlined" filled rounded
                      bg-color="#ffcb5e"></v-select>
                  </v-col>
                </v-card-text>
              </v-row>

              <v-table fixed-header height="530">
                <thead>
                  <tr>
                    <th></th>
                    <th>Id</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>รอบเดือน</th>
                    <th>ฐานเงินเดือน</th>
                    <th>จำนวนชั่วโมงรวม</th>
                    <th>จำนวนเงินรวม</th>
                    <th>สถานะ</th>
                    <th>Action</th>
                    <th>จ่ายเงิน</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for=" item  in  filteredSalarys " :key="item.id">
                    <td>{{ item }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.fullName }}</td>
                    <td>{{ item.month }}</td>
                    <td>{{ item.pricePerHour }}</td>
                    <td>{{ item.totalHour }}</td>
                    <td>{{ item.totalPay }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                      <v-icon size="small" class="me-2" @click="salaryStore.editItem(item)"> mdi-pencil </v-icon>
                      <v-icon size="small" @click="salaryStore.deleteItem(item)"> mdi-delete </v-icon>
                    </td>
                    <td>
                      <v-btn size="30px" prepend-icon="mdi-currency-usd" @click="salaryStore.showPaymentDialog(item)">
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
  </div>
</template>

<style scoped>
.v-sheet {
  background-color: #fff5e8;
}

.v-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
  background-color: #ab9283;
}

.v-toolbar-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.v-table {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  background-color: #fff5e8;
}

.v-btn {
  background-color: #ffcb5e;
  border-radius: 30px;
  padding: 8px 16px;
}

.info {
  font-size: 14px;
}
</style>
