<script setup lang="ts">
import PaymentDialog from './PaymentDialog.vue'
import PaymentSlip from './PaymentSlip.vue'

import { computed, onMounted, reactive, ref } from 'vue'

import { useSalaryStore } from '@/stores/salary'

const salaryStore = useSalaryStore()
const salarys = computed(() => salaryStore.salarys.value)
const notPaySalarys = computed(() => salarys.value.filter((item) => item.status === 'not pay'))
const PaySalarys = computed(() => salarys.value.filter((item) => item.status === 'pay'))

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'EmployeeId',
    key: 'employeeId',
    value: 'employeeId'
  },
  {
    title: 'FirstName',
    key: 'firstName',
    value: 'firstName'
  },
  {
    title: 'LastName',
    key: 'lastName',
    value: 'lastName'
  },
  {
    title: 'TotalHour',
    key: 'totalHour',
    value: 'totalHour'
  },
  {
    title: 'priceHour',
    key: 'priceHour',
    value: 'priceHour'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  },
  {
    title: 'Pay',
    key: 'pay',
    value: 'pay'
  }
]

const slip_headers = [
  {
    title: 'Total / Hour',
    key: 'totalHour',
    value: 'totalHour'
  },
  {
    title: 'Price / Hour',
    key: 'priceHour',
    value: 'priceHour'
  },
  {
    title: 'Total Pay',
    key: 'totalPay',
    value: 'totalPay'
  }
]

onMounted(async () => {
  await salaryStore.getSalarys()
})

// const closeBothDialogs = () => {
//   salaryStore.dialog.value = false
//   salaryStore.dialog2.value = false
// }

// const confirmPayment = () => {
//   if (salaryStore.selected.value.status === 'NOT PAY') {
//     // อัปเดตสถานะเป็น 'PAY'
//     salaryStore.selected.value.status = 'PAY'

//     // หา index ของข้อมูลที่ต้องอัปเดตในอาร์เรย์ salarys
//     const indexToUpdate = salarys.value.findIndex(
//       (item) => item.id === salaryStore.selected.value.id
//     )

//     // ทำการอัปเดตข้อมูลในอาร์เรย์ salarys
//     if (indexToUpdate !== -1) {
//       salarys.value[indexToUpdate] = { ...salaryStore.selected.value }
//     }

//     // ปิด dialog
//     closeBothDialogs()
//   }
// }

// const selectedSalaryItems = computed(() => {
//   if (salaryStore.selected.value) {
//     return salaryStore.salarys.value.filter((item) => item.id === salaryStore.selected.value.id)
//   }
//   return []
// })

// // เช็คคนให้ตรงกับcheckinout
// const selectedUserCheckInOut = computed(() => {
//   if (salaryStore.selected.value) {
//     return checkInOutStore.checkInOut.value.filter(
//       (item) => item.employeeId === salaryStore.selected.value.employeeId
//     )
//   }
//   return []
// })
</script>

<template>
  <div>
    <v-sheet>
      <v-container fluid>
        <v-toolbar flat>
          <v-toolbar-title>Salary Management</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <v-select chips label="Select Branch"
            :items="['California', 'Colorado', 'Florida', 'Georgia', 'Texas', 'Wyoming']"></v-select>


          <!-- history dialog -->
          <v-dialog v-model="salaryStore.dialog3.value" persistent :max-width="'800px'">
            <template v-slot:activator="{ props }">
              <v-btn @click="salaryStore.dialog3.value = true" v-bind="props" prepend-icon="mdi-history" class="mr-5">
                History
              </v-btn>
            </template>
            <v-container>
              <v-card style="background-color: #fff5e8">
                <v-toolbar flat>
                  <v-toolbar-title>Salary History</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>
                </v-toolbar>

                <v-table fixed-header height="530">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <!-- <th>Employee ID</th> -->
                      <th>ชื่อ-นามสกุลล</th>
                      <th>จำนวนชั่วโมงรวม</th>
                      <th>ฐานเงินเดือน</th>
                      <th>จำนวนเงินรวม</th>
                      <th>สถานะ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in PaySalarys" :key="item.id">
                      <td>{{ item.id }}</td>
                      <!-- <td>{{ item.employeeId }}</td> -->
                      <td>{{ item.fullName }}</td>
                      <td>{{ item.totalHour }}</td>
                      <td>{{ item.pricePerHour }}</td>
                      <td>{{ item.totalPay }}</td>
                      <td>{{ item.status }}</td>
                    </tr>
                  </tbody>
                </v-table>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn variant="text" @click="salaryStore.dialog3.value = false"> Close </v-btn>
                </v-card-actions>
              </v-card>
            </v-container>
          </v-dialog>
        </v-toolbar>

        <v-table fixed-header height="530">
          <thead>
            <tr>
              <th>Id</th>
              <!-- <th>Employee ID</th> -->
              <th>ชื่อ-นามสกุล</th>
              <th>จำนวนชั่วโมงรวม</th>
              <th>ฐานเงินเดือน</th>
              <th>จำนวนเงินรวม</th>
              <th>สถานะ</th>
              <th>Pay</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in notPaySalarys" :key="item.id">
              <td>{{ item.id }}</td>
              <!-- <td>{{ item.employeeId }}</td> -->
              <td>{{ item.fullName }}</td>
              <td>{{ item.totalHour }}</td>
              <td>{{ item.pricePerHour }}</td>
              <td>{{ item.totalPay }}</td>
              <td>{{ item.status }}</td>
              <td>
                <v-btn size="30px" prepend-icon="mdi-currency-usd" @click="salaryStore.showPaymentDialog(item)">
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>

        <!-- <PaymentDialog></PaymentDialog> -->
        <v-dialog v-model="salaryStore.PaymentDialog.value" persistent :max-width="'800px'">
          <v-container>
            <v-card style="background-color: #fff5e8">
              <v-card-title style="text-align: center; font-size: 24px" class="mb-5 mt-3">
                <strong>Payment</strong>
              </v-card-title>
              <v-card-text class="ml-3 mr-3 mt-3" style="background-color: #ab9283; border-radius: 15px">
                <v-row>
                  <!-- <v-col>Date : {{ date }}</v-col> -->
                  <!-- <v-col>Payer's Name : {{ checkInOutStore.currentUser }}</v-col> -->
                  <v-col>Payer's Name : Zhang Hao</v-col>
                </v-row>

                <v-row>
                  <!-- <v-col>Time : {{ time }}</v-col> -->
                  <!-- <v-col>Position : {{ userStore.selected.value.roles.join(', ') }}</v-col> -->
                </v-row>
              </v-card-text>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="6">
                      <v-row>
                        <v-col>Full Name : {{ salaryStore.selected.value.fullName }}</v-col>
                      </v-row>
                      <v-row>
                        <v-col>Position : {{ salaryStore.selected.value.status }}</v-col>
                      </v-row>
                      <v-row>
                        <v-col>Work / Hour : {{ salaryStore.selected.value.totalHour }}</v-col>
                      </v-row>
                      <v-row>
                        <v-col>Wage / Hour : {{ salaryStore.selected.value.pricePerHour }}</v-col>
                      </v-row>
                      <v-row>
                        <v-col>Total Pay: {{ salaryStore.calculateSalary() }}</v-col>
                      </v-row>
                    </v-col>

                    <!-- <v-col cols="12" sm="12" md="6" style="background-color: #ab9283; border-radius: 15px">
                  ใส่ตารางcheck IN OUT ของ User ที่เลือก
                  <v-data-table-virtual style="background-color: white" :headers="checkInOutStore.payment_headers"
                    :items="selectedUserCheckInOut"></v-data-table-virtual>
                </v-col> -->
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn variant="text" @click="salaryStore.PaymentDialog.value = false">
                  Close
                </v-btn>
                <v-btn variant="text" class="mr-0 mb-0" @click="salaryStore.SlipDialog.value = true">
                  Payment
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-container>
        </v-dialog>

        <!-- <PaymentSlip></PaymentSlip> -->
        <v-dialog v-model="salaryStore.SlipDialog.value" persistent max-width="600">
          <v-card class="d-flex align-center justify-center">
            <v-img src="./img/logo/logo_name_black.png" alt="Logo" width="120px" class="text-center mt-3"></v-img>

            <v-card-title style="text-align: center; font-size: 20px"><strong>PAY SLIP</strong>
            </v-card-title>

            <v-card-text class="info" style="text-align: center; margin-top: 0; padding-top: 0; line-height: 1">
              ************************************************************
            </v-card-text>
            <v-card-text style="
                text-align: center;
                margin-top: 0;
                margin-bottom: 2;
                padding-top: 0;
                line-height: 1;
              ">
              <small>Thank you for your work hard ♡</small>
            </v-card-text>
            <v-card-text>
              <v-row class="info">
                <v-col style="text-align: center">
                  <v-row>
                    <!-- <v-col>Employee ID : {{ salaryStore.selected.value.employeeId }}</v-col> -->
                    <v-col>Payment ID : {{ salaryStore.selected.value.id }}</v-col>
                  </v-row>
                  <v-row>
                    <v-col>Full Name : {{ salaryStore.selected.value.fullName }}</v-col>
                  </v-row>
                  <!-- <v-row>
                                        <v-col>Position : {{
                                            salaryStore.selected.value.roles.join(', ')
                                        }}</v-col>
                                    </v-row> -->
                </v-col>
              </v-row>

              <v-row class="info mt-4 mb-2">
                <v-col>
                  <!-- <v-data-table-virtual style="background-color: white" :headers="slip_headers" :items="[
      {
        totalHour: salaryStore.selected.value.totalHour,
        priceHour: salaryStore.selected.value.priceHour,
        totalPay: salaryStore.calculateSalary()
      }
    ]">
              </v-data-table-virtual> -->
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-row>
                    <!-- <v-col style="text-align: left" class="info">Pay Date : {{ date }}</v-col> -->
                    <!-- <v-col style="text-align: right;" class="info">Payer Name : {{
                                            checkInOutStore.currentUser
                                        }}</v-col> -->
                    <v-col style="text-align: right" class="info">Payer's Name : Zhang Hao</v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-text>

            <v-card-actions class="justify-center mt-2 mb-2">
              <v-spacer></v-spacer>
              <v-btn style="background-color: white" elevation="4" variant="text"
                @click="salaryStore.SlipDialog.value = false">
                Close
              </v-btn>
              <v-btn style="background-color: white" elevation="4" variant="text" @click="salaryStore.confirmPayment">
                Confirm
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-container>
    </v-sheet>
  </div>
</template>

<style scoped>
.v-sheet {
  background-color: #fff5e8;
}

.v-toolbar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
  background-color: #ab9283;
}

.v-toolbar-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.v-table {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  background-color: #fff5e8;
}

.v-btn {
  background-color: #ffcb5e;
  border-radius: 100px;
}

.info {
  font-size: 14px;
}

.v-select {
  background-color: #ffcb5e;
  border-radius: 100px;
  min-width: 120px;
  max-width: 120px;
  max-height: 35px;
}
</style>
