<script lang="ts" setup>
import { nextTick, onMounted, ref, watchEffect } from 'vue'
import type { VForm } from 'vuetify/components'
import type { User } from '@/types/User'
import { useUserStore } from '@/stores/user'
const userStore = useUserStore()
</script>

<template>
  <div>
    <v-dialog v-model="userStore.passwordDialog" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">เปลี่ยนรหัสผ่าน</v-card-title>
        <v-card-text>
          <v-row style="padding-top: 10px; padding-bottom: 20px">
            <strong>email : </strong>{{ userStore.editedUser.email }}
          </v-row>
          <v-form>
            <v-text-field
              v-model="userStore.editedUser.password"
              :readonly="userStore.loading"
              :rules="[(v) => !!v || 'Field is required']"
              label="รหัสผ่าน เข้าระบบ"
              placeholder="Enter password"
              clearable
              variant="outlined"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="userStore.closeDialog()"
            >Cancel</v-btn
          >
          <v-btn color="blue-darken-1" variant="text" @click="userStore.changePassword">save</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
